<% provide(:title, 'About Us') %>
<div class="center hero-unit">
<h1>About Us</h1>
<p>
	DiCillo & Associates, Inc. is a full service accounting and consulting firm founded in January 2005. We focus our expertise to provide high quality industry-specific tax, assurance and business consulting services to organizations in Cuyahoga, Medina and Summit counties.
</p>
<p>
	We specialize in the industries of Manufacturing & Distribution, Life Sciences, Building Products and Real Estate Management, and Multi-location Franchising. 
<p>
	Our clients include closely held companies with high growth plans or revenue of $50 million or more, and middle market public companies.
</p>
</div>
