<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1>DiCillo & Associates</h1>
	<h2>Certified Public Accountant & Business Consultant</h2>
	<h2>Helping Businesses | <span>Helping People</span></h2>
</div>
