<% provide(:title, 'Locations') %>
<div class="center hero-unit">
<h1>Locations</h1>
<h4>BROADVIEW HEIGHTS</h4>
<p>
7500 Town Centre Dr., Suite 500<br>
Broadview Hts., Ohio 44147
</P>
<h4>SOLON</h4>
<p>
6240 SOM Center Rd., Suite 225<br>
Solon, Ohio 44139
</p>
</div>